<%- include templates/partialHead.ejs %>
<body>
	<%- include templates/partialNav.ejs %>
	<main class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<%- include templates/search.ejs%>
		<div id="result" class="text-center"> </div>		
	</main>
	<%- include templates/partialFooter.ejs %>

</body>
</html>


	<script type="text/javascript" src="./../public/js/dynamicSearch.js"></script>

	<script type="text/javascript" src="https://www.google.com/jsapi"></script>

	<script type="text/javascript" src="./../public/js/draw.js"></script>

	<script type="text/javascript">
		
			<% if(data!=null) { %>
			var info = <%- JSON.stringify(data) %>;

			drawTable(info);
			$("#selectGraphic").show();

			$("#chooseTable").on('click',function() { drawTable(info); });

			google.load('visualization','1.0',{'packages':['line']});
			google.setOnLoadCallback(function() {
				$("#chooseChart").on('click',function() { drawChart(info); });
			});
		<%}%>
	
	</script>



