<%- include templates/partialHead.ejs %>
<body>
	<%- include templates/partialNav.ejs %>
	<%- include templates/partialHeader.ejs %>
	
	<main class="col-lg-9 col-md-9">
		
		<div class="container-fluid">

			<div class="panel panel-default">
				<div class="panel-heading"> <h3 class="text-center">Currency exchange <small>Daily comparison</small></h3> </div>
				<div class="panel-body">

					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="panel panel-default panel-currency" id="usdBox">
							<div class="panel-body"> 
								<p class="text-center currency" id="usdincrement">
									<i class="fa fa-usd" data-toggle="tooltip" data-original-title="Yesterday value"></i><i class="fa fa-spinner fa-spin"> </i> 
								</p>
								<table class="table">
									<thead>
										<tr> <th> Dollar</th> <th>Exchange</th></tr>
									</thead>
									<tbody>
										<tr><td>1.0 <i class="fa fa-usd"></i> </td> <td> <span id="usdtoeuro"><i class="fa fa-spinner fa-spin"> </i> </span> <i class="fa fa-euro"></i></td></tr>

										<tr><td>1.0 <i class="fa fa-usd"></i></td> <td> <span id="usdtogbp"> <i class="fa fa-spinner fa-spin"> </i></span> <i class="fa fa-gbp"></i></td> </td></tr>

										<tr><td>1.0 <i class="fa fa-usd"></i> </td> <td> <span id="usdtoyen"> <i class="fa fa-spinner fa-spin"> </i></span> <i class="fa fa-jpy"></i> </td></tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="panel panel-default panel-currency" id="euroBox">
							<div class="panel-body"> 
								<p class="text-center currency" id="euroincrement">
									<i class="fa fa-euro" data-toggle="tooltip" data-original-title="Yesterday value"></i><i class="fa fa-spinner fa-spin"> </i> 
								</p>
								<table class="table">
									<thead>
										<tr> <th> Currency</th> <th>Change</th></tr>
									</thead>
									<tbody>
										<tr> <td>1.0 <i class="fa fa-euro"></i> </td> <td><span id="eurotousd"><i class="fa fa-spinner fa-spin"> </i></span> <i class="fa fa-usd"> </i></td></tr>

										<tr> <td>1.0 <i class="fa fa-euro"></i> </td> <td><span id="eurotogbp"><i class="fa fa-spinner fa-spin"> </i></span>  <i class="fa fa-gbp"></i> </td></tr>

										<tr> <td>1.0 <i class="fa fa-euro"></i> </td> <td><span id="eurotoyen"><i class="fa fa-spinner fa-spin"> </i></span>  <i class="fa fa-jpy"></i> </td></tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="panel panel-default panel-currency" id="gbpBox">
							<div class="panel-body">
								<p class="text-center currency" id="gbpincrement">
									<i class="fa fa-euro" data-toggle="tooltip" data-original-title="Yesterday value"></i><i class="fa fa-spinner fa-spin"> </i> 
								</p>
								<table class="table">
									<thead>
										<tr> <th> Currency</th> <th>Change</th></tr>
									</thead>
									<tbody>
										<tr><td> 1.0 <i class="fa fa-gbp"></i></td> <td> <span id="gbptousd"><i class="fa fa-spinner fa-spin"> </i></span> <i class="fa fa-usd"></i> </td></tr>

										<tr> <td>1.0 <i class="fa fa-gbp"></i> </td> <td> <span id="gbptoeuro"><i class="fa fa-spinner fa-spin"> </i></span> <i class="fa fa-euro"></i></td></tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="panel panel-default panel-currency" id="yenBox">
							<div class="panel-body">
								<p class="text-center currency" id="yenincrement">
									<i class="fa fa-euro" data-toggle="tooltip" data-original-title="Yesterday value"></i><i class="fa fa-spinner fa-spin"> </i> 
								</p>
								<table class="table">
									<thead>
										<tr> <th> Currency</th> <th>Change</th></tr>
									</thead>
									<tbody>
										<tr><td> 1.0 <i class="fa fa-jpy"></i> </td> <td> <span id="yentousd" > <i class="fa fa-spinner fa-spin"> </i> </span> <i class="fa fa-usd"></i> </td></tr>

										<tr><td> 1.0 <i class="fa fa-jpy"></i> </td> <td> <span id="yentoeuro" > <i class="fa fa-spinner fa-spin"> </i> </span>  <i class="fa fa-euro"></i></td></tr>

									</tbody>
								</table>
							</div>
						</div>
					</div
				</div>
			</div>
		</div>


		<div class="panel panel-default">
			<div class="panel-heading"> <h3 class="text-center">National markets</h3> </div>
			<div class="panel-body">
				
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="panel panel-default panel-market" id="panel_market_tsx_composite">
							<div class="panel-body"> 
								<p class="text-center">
									<img src="../public/img/canada_flag.svg"/>
								</p>
								<p class="small text-center market_name">TSX Composite</p>
								<table class="table">
									<tr><th>Date</th><td class="dateMarketValue"><i class="fa fa-spinner fa-spin"> </i> </td>
									<tr><th>Open</th><td class="openMarketValue"> <i class="fa fa-spinner fa-spin"> </i></td>
									<tr><th>High</th><td class="highMarketValue"> <i class="fa fa-spinner fa-spin"> </i></td>
									<tr><th>Low</th><td class="lowMarketValue"> <i class="fa fa-spinner fa-spin"> </i></td>
									<tr><th>Close</th><td class="closeMarketValue"> <i class="fa fa-spinner fa-spin"> </i></td>
								</table>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="panel panel-default panel-market" id="panel_market_shangai_composite">
							<div class="panel-body"> 
								<p class="text-center">
									<img src="../public/img/china_flag.svg"/>
								</p>
								<p class="small text-center market_name"> Shangai Composite </p>
								<table class="table">
									<tr><th>Date</th><td class="dateMarketValue"><i class="fa fa-spinner fa-spin"> </i> </td>
									<tr><th>Open</th><td class="openMarketValue"><i class="fa fa-spinner fa-spin"> </i> </td>
									<tr><th>High</th><td class="highMarketValue"> <i class="fa fa-spinner fa-spin"> </i></td>
									<tr><th>Low</th><td class="lowMarketValue"><i class="fa fa-spinner fa-spin"> </i> </td>
									<tr><th>Close</th><td class="closeMarketValue"> <i class="fa fa-spinner fa-spin"> </i></td>
								</table>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="panel panel-default panel-market" id="panel_market_cac_40">
							<div class="panel-body"> 
								<p class="text-center">
									<img src="../public/img/france_flag.svg"/>
								</p>
								<p class="small text-center market_name">CAC-40</p>
								<table class="table">
									<tr><th>Date</th><td class="dateMarketValue"><i class="fa fa-spinner fa-spin"> </i> </td>
									<tr><th>Open</th><td class="openMarketValue"><i class="fa fa-spinner fa-spin"> </i> </td>
									<tr><th>High</th><td class="highMarketValue"> <i class="fa fa-spinner fa-spin"> </i></td>
									<tr><th>Low</th><td class="lowMarketValue"><i class="fa fa-spinner fa-spin"> </i> </td>
									<tr><th>Close</th><td class="closeMarketValue"> <i class="fa fa-spinner fa-spin"> </i></td>
								</table>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="panel panel-default panel-market" id="panel_market_dax">
							<div class="panel-body"> 
								<p class="text-center">
									<img src="../public/img/germany_flag.svg"/>
								</p>
								<p class="small text-center market_name">DAX</p>
								<table class="table">
									<tr><th>Date</th><td class="dateMarketValue"><i class="fa fa-spinner fa-spin"> </i> </td>
									<tr><th>Open</th><td class="openMarketValue"><i class="fa fa-spinner fa-spin"> </i> </td>
									<tr><th>High</th><td class="highMarketValue"> <i class="fa fa-spinner fa-spin"> </i></td>
									<tr><th>Low</th><td class="lowMarketValue"><i class="fa fa-spinner fa-spin"> </i> </td>
									<tr><th>Close</th><td class="closeMarketValue"> <i class="fa fa-spinner fa-spin"> </i></td>
								</table>
							</div>
						</div>
					</div>
				</div><!-- row -->

				<div class="row">

					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="panel panel-default panel-market" id="panel_market_ftse_100">
							<div class="panel-body"> 
								<p class="text-center">
									<img src="../public/img/uk_flag.svg"/>
								</p>
								<p class="small text-center market_name">FTSE 100</p>
								<table class="table">
									<tr><th>Date</th><td class="dateMarketValue"><i class="fa fa-spinner fa-spin"> </i> </td>
									<tr><th>Open</th><td class="openMarketValue"> <i class="fa fa-spinner fa-spin"> </i></td>
									<tr><th>High</th><td class="highMarketValue"><i class="fa fa-spinner fa-spin"> </i> </td>
									<tr><th>Low</th><td class="lowMarketValue"> <i class="fa fa-spinner fa-spin"> </i></td>
									<tr><th>Close</th><td class="closeMarketValue"> <i class="fa fa-spinner fa-spin"> </i></td>
								</table>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="panel panel-default panel-market" id="panel_market_nikkei_225">
							<div class="panel-body"> 
								<p class="text-center">
									<img src="../public/img/japan_flag.svg"/>
								</p>
								<p class="small text-center market_name">Nikkei 225</p>
								<table class="table">
									<tr><th>Date</th><td class="dateMarketValue"><i class="fa fa-spinner fa-spin"> </i> </td>
									<tr><th>Open</th><td class="openMarketValue"> <i class="fa fa-spinner fa-spin"> </i></td>
									<tr><th>High</th><td class="highMarketValue"> <i class="fa fa-spinner fa-spin"> </i></td>
									<tr><th>Low</th><td class="lowMarketValue"> <i class="fa fa-spinner fa-spin"> </i></td>
									<tr><th>Close</th><td class="closeMarketValue"><i class="fa fa-spinner fa-spin"> </i> </td>
								</table>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="panel panel-default panel-market" id="panel_market_ibex_35">
							<div class="panel-body"> 
								<p class="text-center">
									<img src="../public/img/spain_flag.svg"/>
								</p>
								<p class="small text-center market_name">IBEX 35</p>
								<table class="table">
									<tr><th>Date</th><td class="dateMarketValue"><i class="fa fa-spinner fa-spin"> </i> </td>
									<tr><th>Open</th><td class="openMarketValue"> <i class="fa fa-spinner fa-spin"> </i></td>
									<tr><th>High</th><td class="highMarketValue"> <i class="fa fa-spinner fa-spin"> </i></td>
									<tr><th>Low</th><td class="lowMarketValue"> <i class="fa fa-spinner fa-spin"> </i></td>
									<tr><th>Close</th><td class="closeMarketValue"> <i class="fa fa-spinner fa-spin"> </i></td>
								</table>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="panel panel-default panel-market" id="panel_market_sp_500">
							<div class="panel-body"> 
								<p class="text-center">
									<img src="../public/img/us_flag.svg"/>
								</p>
								<p class="small text-center market_name">S&P 500</p>
								<table class="table">
									<tr><th>Date</th><td class="dateMarketValue"> <i class="fa fa-spinner fa-spin"> </i></td>
									<tr><th>Open</th><td class="openMarketValue"> <i class="fa fa-spinner fa-spin"> </i></td>
									<tr><th>High</th><td class="highMarketValue"><i class="fa fa-spinner fa-spin"> </i> </td>
									<tr><th>Low</th><td class="lowMarketValue"><i class="fa fa-spinner fa-spin"> </i> </td>
									<tr><th>Close</th><td class="closeMarketValue"><i class="fa fa-spinner fa-spin"> </i> </td>
								</table>
							</div>
						</div>
					</div>
				</div> <!-- row -->
			</div> <!-- market panel body -->
		</div> <!-- market panel -->
	</div> <!-- container -->
</main>
<%- include templates/partialAside.ejs %>

<%- include templates/partialFooter.ejs %>

</body>

<script type="text/javascript" src="../../../public/js/summary.js"></script>

</html>


